.puzzle{
    display: grid;
    max-width: 400px;
    margin: 20px auto;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-template-areas: 
    "f h e"
    "i c a"
    "b d g";
}
.piece1{
    grid-area: a;
}
.piece2{
    grid-area: b;
}
.piece3{
    grid-area: c;
}
.piece4{
    grid-area: d;
}
.piece5{
    grid-area: e;
}
.piece6{
    grid-area: f;
}
.piece7{
    grid-area: g;
}
.piece8{
    grid-area: h;
}
.piece9{
    grid-area: i;
}